* {
  padding: 0;
  margin: 0;
  box sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  }

/* command/ is a shortcut */

body {
  font-family: Verdana;
  font-size: 22px;
  background-color: black;
  text-align: center;
  color: white;
  }

h1 {
  font-size: 50px;
  font-weight: normal;
  color: white;
  padding: 50px 30px;
}

.download {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

h2 {
  font-size: 42px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mobile {
  padding-top: 30px;
}
